.frame {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.page {
  max-width: 800px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Open Sans', sans-serif;
  font-size: medium;
}

.header {
  display: inline-block;
  width: 94%;
  z-index: 1;
}

.body {
  width: 94%;
  height: 100%;
  color: var(--pageFont);
}

.plain {
  background: url(/src/assets/plain.jpg) no-repeat center center fixed;
}

.dark {
  background: url(/src/assets/dark.jpg) no-repeat center center fixed;
}

.light {
  background: url(/src/assets/light.jpg) no-repeat center center fixed;
}

.blue {
  background: url(/src/assets/blue.jpg) no-repeat center center fixed;
}

.heading {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: var(--pageFont);
}

.title {
  width: 100%;
  text-align: center;
  margin-block-start: 0.3em;
  margin-block-end: 0.1em;
}

.statement {
  width: 100%;
  text-align: center;
  font-weight: 200;
  margin-block-start: 0.5em;
  margin-block-end: 1em;
}

.menu-bar {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 30%;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 8px;
  background-image: linear-gradient(to right, var(--pageColor3), var(--pageColor2));
  box-shadow: 6px 6px var(--pageColor4);
}

.menu-container {
  flex: 1;
  display: flex;
  justify-content: center;
}

.menu {
  max-width: 200px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex: 1;
}

.menu-item {
  max-width: 75px;
  min-width: 50px;
  font-size: medium;
  font-weight: bold;
  text-align: center;
  color: var(--solidjsSelectFontColor,var(--pageFont));
  overflow: hidden;
}

.menu-item:hover {
  color: var(--solidjsSelectFonHighlightColor, darkgray);
}

.menu-text {
  margin-block-start: 0em;
  margin-block-end: 0em;
}

.context {
  position: relative;
  width: 100%;
  height: 100%;
}

.theme {
  margin-left: 10px;
  width: 60px;
  display: block;
  align-self: flex-end;
  --solidjsSelectDropDownBackgroundColor: none;
  --solidjsSelectBorder: none;
  --solidjsSelectBackgroundColor: var(--pageColor2);
  --solidjsSelectHighlightedBackgroundColor: var(--pageColor3);
  --solidjsSelectBackgroundImage: none;
}

.clipboardCopy {
  font-weight: bold;
}

.footer-container {
  width: 94%;
  margin-bottom: 10px;
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 8px;
  box-shadow: 6px 6px var(--pageColor4);
  padding: 15px;
  background-image: linear-gradient(to right, var(--pageColor3), var(--pageColor2));
  color: 'var(--solidjsSelectFontColor)';
}

@media only screen and (max-width: 600px) {
  .footer-container {
    height: 0px;
    overflow: hidden;
  }
}

p {
  margin-block-start: 0px;
  margin-block-end: 0px;
}
