.frame {
  height: 100vh;
  width: 95vw;
}

.page {
  margin-left: 10%;
  margin-right: 10%;
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Open Sans', sans-serif;
  font-size: medium;
}

.header {
  display: inline-block;
  position: absolute;
  width: 800px;
  z-index: 1;
}

.body {
  display: inline-block;
  position: absolute;
  width: 800px;
  padding-top: 140px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  background-color: var(--pageColor1);
  color: var(--pageFont);
}

.plain {
  background: url(/src/assets/plain.jpg) no-repeat center center fixed;
}

.dark {
  background: url(/src/assets/dark.jpg) no-repeat center center fixed;
}

.light {
  background: url(/src/assets/light.jpg) no-repeat center center fixed;
}

.blue {
  background: url(/src/assets/blue.jpg) no-repeat center center fixed;
}

.heading {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: var(--pageFont);
}

.title {
  width: 100%;
  text-align: center;
  margin-block-start: 0.3em;
  margin-block-end: 0.1em;
}

.statement {
  width: 100%;
  text-align: center;
  font-weight: 200;
  margin-block-start: .5em;
  margin-block-end: 1em;
}

.menu-bar {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding-top: 15px;
  padding-bottom: 15px;
  border-radius: 8px;
  background-image: linear-gradient(to right, var(--pageColor3), var(--pageColor2));
  box-shadow: 6px 6px var(--pageColor4);
}

.menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
  flex: 1;
}

.menu-item {
  width: 80px;
  font-size: medium;
  font-weight: bold;
  text-align: center;
  color: var(--solidjsSelectFontColor,var(--pageFont));
}

.menu-item:hover {
  color: var(--solidjsSelectFonHighlightColor, darkgray);
}

.menu-text {
  margin-block-start: 0em;
  margin-block-end: 0em;
}

.context {
  width: 100%;
}

.theme {
  width: 60px;
  display: block;
  align-self: flex-end;
  --solidjsSelectDropDownBackgroundColor: none;
  --solidjsSelectBorder: none;
  --solidjsSelectBackgroundColor: var(--pageColor2);
  --solidjsSelectHighlightedBackgroundColor: var(--pageColor3);
  --solidjsSelectBackgroundImage: none;
}

.clipboardCopy {
  font-weight: bold;
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 8px;
  box-shadow: 6px 6px var(--pageColor4);
  padding: 15px;
  background-image: linear-gradient(to right, var(--pageColor3), var(--pageColor2));
  color: 'var(--solidjsSelectFontColor)';
}

.no-padding {
  margin-block-start: 0px;
  margin-block-end: 0px;
}
