.main {
  height: 700px;
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 20px;
  margin-right: 20px;
  color: var(--pageFont);
  font-size: large;
}

.settings {
  display: flex;
  flex-direction: row;
  column-gap: 10px;
  margin-bottom: 40px;
  margin-top: 20px;
}

.columns {
  display: flex;
  flex-direction: column;
  row-gap: 5px;
}

.entry {
  margin-block-start: 0px;
  margin-block-end: 0px;
}

.entryValue {
  margin-block-start: 0px;
  margin-block-end: 0px;
  border-radius: 5px;
  background-color: var(--pageColor2, white);
  color: var(--solidjsSelectFontColor, black);
  text-align: center;
}

.containerCenter {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
}